@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");

:root {
  /* COLORS */
  --cyan: hsl(179, 80%, 58%);
  --darkBlue: hsl(206, 84%, 22%);
  --gray: hsl(225, 14%, 53%);
  --white: hsl(0, 0%, 100%);
  --veryDarkBlue: hsl(230, 60%, 8%);
  --red: hsl(343, 100%, 58%);

  /* TYPOGRAPHY */
  --fontFamily: "Manrope", sans-serif;

  --fontSize: 0.9375rem;

  --fontWeight4: 400;
  --fontWeight7: 700;
  --fontWeight8: 800;

  /* SPACING & BORDER-RADIUS*/
  --margin: 1rem;
  --padding: 1rem;
  --borderRadius: 1rem;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 0.3rem;
    background: var(--darkBlue);
    display: none;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--veryDarkBlue);
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--veryDarkBlue);
    width: 5px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--red);
  }

  /* END SCROLLBAR */

  body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    font-weight: var(--fontWeight4);   
    background-color: var(--veryDarkBlue);
    color: var(--white);
  }

/* MOBILE FIRST */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.0625rem;
}

main {
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.hero {
    width: 25.625rem;
    overflow-x: hidden;
}

.hero .hero-images {
    margin-top: calc(var(--margin) * 133);
    display: flex;
    height: 15rem;
    width: 100%;
}

.hero .hero-left-image img,
.hero .hero-right-image img {
    height: 14.4375rem;
}

.hero .call-to-action {
    margin: 0 auto;
    margin-top: calc(var(--margin) * 3.87);
    width: 20.75rem;
    text-align: center;
}

.hero .call-to-action .call-to-action-texts .call-to-action-texts-title {
  font-size: calc(var(--fontSize) * 2.13);
  line-height: calc(var(--padding) * 2.67);
  padding: 0 calc(var(--padding) * 2.8);
}

.call-to-action .call-to-action-texts .call-to-action-texts-title span {
  color: var(--cyan);
}

.hero .call-to-action .call-to-action-texts .call-to-action-texts-description {
  width: 100%;
  color: var(--gray);
  margin-top: var(--margin);
  line-height: calc(var(--padding) * 1.67);
}

.call-to-action button {
  cursor: pointer;
  background-color: transparent;
  width: 1.625rem;
  height: 2.625rem;
  border: .15rem solid var(--cyan);
  border-radius: var(--borderRadius);
}

.call-to-action button dot {
  margin: 0 auto;
  width: .375rem;
  height: .5625rem;
  border: .1rem solid var(--cyan);
  border-radius: var(--borderRadius);
  animation: dot-animation 2s infinite ease-in-out;
}

@key-frames dot-animation {
  0% {
    transform: translateY(-0.625rem);
    opacity: 0;
  }
  25% {
    transform: translateY(-0.5625rem);
    opacity: 0.9;
  }
  50% {
    transform: translateY(0.625rem);
    opacity: 1;
  }
  75% {
    transform: translateY(0.625rem);
    opacity: 0.9;
  }
  100% {
    transform: translateY(-0.5625rem);
    opacity: 0;
  }
}

.reasons {
    margin-top: calc(var(--margin) * 9.6);
    width: 20.4375rem;
    height: 70.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.reasons .reason-item .reason-item-image {
  width: 7.5rem;
  height: 7.6875rem;
  background-color: var(--darkBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--borderRadius) * 2.3); 
}

.reasons .reason-item .reason-item-image img {
  width: 3.5rem;
  height: 3.75rem;
}

.reasons .reason-item .reason-item-texts {
  width: 100%;
  height: 5.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reasons .reason-item .reason-item-texts .reason-item-texts-title {
  font-size: calc(var(--fontSize) * 1.2);
  font-weight: var(--fontWeight8);
}

.reasons .reason-item .reason-item-texts .reason-item-texts-description {
  color: var(--gray);
  line-height: calc(var(--padding) * 1.67);
} 

.pricing-plans {
  margin-top: calc(var(--margin) * 9.67);
  width: 20.4375rem;
  height: 72.6875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pricing-plans .pricing-plans-heading {
  width: 100%;
  height: 8.4375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.pricing-plans .pricing-plans-heading h2 {
  font-size: calc(var(--fontSize) * 1.6);
}

.pricing-plans .pricing-plans-heading p {
  width: 20.4375rem;
  color: var(--gray);
  line-height: calc(var(--padding) * 1.67);
}

.pricing-plans .pricing-plans-items {
  width: 100%;
  height: 60.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricing-plans .pricing-plans-item {
  position: relative;
}

.pricing-plans .pricing-plans-item::before {
  position: absolute;
  left: calc(var(--padding) * 2.46);
  z-index: 1;
} 

.pricing-plans .pricing-plans-item::before {
  left: calc(var(--padding) * 2);
}

.pricing-plans .pricing-plans-item:nth-child(odd)::before {
  content: url("../assets/icon-free.svg");
  top: -5%;
}

.pricing-plans .pricing-plans-item:nth-child(even)::before {
  content: url("../assets/icon-paid.svg");
  top: -7%;
}

.pricing-plans .pricing-plans-item:nth-child(odd),
.pricing-plans .pricing-plans-item:nth-child(even) {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--margin) * 1);
  padding: 0 calc(var(--padding) * 2);
  border-radius: calc(var(--borderRadius) * 0.53);
}

.pricing-plans .pricing-plans-item:nth-child(odd) {
  /* FREE */
  height: 26.75rem;
  background-color: var(--darkBlue);
}

.pricing-plans .pricing-plans-item:nth-child(even) {
  /* PAY */
  height: 28rem;
  background-color: var(--cyan);
  color: var(--darkBlue);
}

.pricing-plans .pricing-plans-item:nth-child(odd) .pricing-plans-item-title,
.pricing-plans .pricing-plans-item:nth-child(even) .pricing-plans-item-title {
  font-size: calc(var(--fontSize) * 1.2);
  font-weight: var(--fontWeight8);
}

.pricing-plans
  .pricing-plans-item:nth-child(odd)
  .pricing-plans-item-description,
  .pricing-plans
  .pricing-plans-item:nth-child(even)
  .pricing-plans-item-description {
    color: var(--gray);
    line-height: calc(var(--padding) * 1.67);
}

.pricing-plans .pricing-plans-item:nth-child(odd) .pricing-plans-item-price,
.pricing-plans .pricing-plans-item:nth-child(even) .pricing-plans-item-price {
    font-size: calc(var(--fontSize) * 2.67);
    font-weight: var(--fontWeight8);
    display: flex;
    align-items: center;
    gap: calc(var(--margin) * 0.5);
}
  
  .pricing-plans 
  .pricing-plans-item:nth-child(even)
   .pricing-plans-item-price
   span {
    color: var(--gray);
    font-size: calc(var(--fontSize) * 1);
    font-weight: normal;
   }

 .pricing-plans 
 .pricing-plans-item:nth-child(odd)
   .pricing-plans-item-features
 .pricing-plans
   .pricing-plans-item:nth-child(even)
   .pricing-plans-item-features {
    line-height: calc(var(--padding) * 1.66);
    font-weight: var(--fontWeight7);
    list-style: none;
}

.pricing-plans 
   .pricing-plans-item:nth-child(odd)
   .pricing-plans-item-features
   li
   img {
    filter: brightness(1000%) saturate(100) contrast(100);
}

.pricing-plans 
   .pricing-plans-item:nth-child(odd)
   .pricing-plans-item-features
   li
   img, 
.pricing-plans 
   .pricing-plans-item:nth-child(even)
   .pricing-plans-item-features
   li
   img {
    padding-right: calc(var(--padding) * 0.7);
 }

 .subscription {
    margin-top: calc(var(--margin) * 9.4);
    width: 20.4375rem;
    height: 14.3125rem;
    background-image: url("../assets/bg-footer-squiggle.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.subscription .subscription-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
}

.subscription .subscription-wrap .subscription-title {
  width: 15.5rem;
  font-size: calc(var(--fontSize) * 1.6);
  padding: calc(var(--padding) * 0.8) 0;
  text-align: center;
}

.subscription .subscription-wrap .subscription-form form {
  width: 100%;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.subscription .subscription-wrap .subscription-form form .input-wrap {
  width: 20.4375rem;
  display: flex;
  flex-direction: column;
}

.subscription .subscription-wrap .subscription-form form .input-wrap input {
  height: 3rem;
  outline: none;
  color: var(--white);
  background-color: var(--darkBlue);
  border: .1rem solid transparent;
  border-radius: calc(var(--borderRadius) * 1.6);
  padding-left: calc(var(--padding) * 1.6);
}

.subscription 
.subscription-wrap 
.subscription-form form 
.input-wrap input::placeholder {
  color: var(--gray);
  font-weight: var(--fontWeight7);
}

.subscription 
.subscription-wrap 
.subscription-form form 
.input-wrap span {
  font-size: calc(var(--fontSize) * 0.8);
  color: var(--red);
  text-align: left;
  margin-top: calc(var(--margin) * 0.3);
  padding-left: calc(var(--padding) * 1.6);
}

.subscription 
.subscription-wrap 
.subscription-form form 
button {
  cursor: pointer;
  width: 100%;
  height: 3rem;
  background-color: var(--cyan);
  color: var(--veryDarkBlue);
  font-weight: var(--fontWeight7);
  border: .1rem solid transparent;
  border-radius: calc(var(--borderRadius) * 1.6);
  transition: all 0.2s ease;
}

.subscription 
.subscription-wrap 
.subscription-form form 
button:hover {
  color: var(--white);
  border: .1rem solid var(--cyan);
  background-color: transparent;
}

footer {
  margin-top: calc(var(--margin) * 9.6);
  height: 7.5rem;
  text-align: center;
  padding: calc(var(--padding) * 0.5) calc(var(--padding) * 0.3);
}

footer p a {
  color: var(--gray);
  font-weight: var(--fontWeight6);
  transition: all 0.2s ease;
}

footer p a:hover {
  color: var(--cyan);
}

/* TABLETS */
@media (min-width: 42.1875rem) and (max-width: 64rem) {
  header {
    height: 8.1875rem;
    justify-content: flex-start;
    padding-left: calc(var(--padding) * 3);
  }

  .hero {
    width: 100vw;
  }

  .hero .hero-images {
    position: relative;
    margin-top: calc(var(--margin) * 2);
    height: 23.125rem;
    width: 100%;
    min-width: 42.1875rem;
    justify-content: space-between;
  }

  .hero .hero-images .hero-left-image {
    transform: translateY(-52%);
  }

  .hero .hero-images .hero-right-image {
    transform: translateY(52%);
  }

  .hero .hero-images .hero-left-image img,
  .hero .hero-images .hero-right-image img {
    height: 22.25rem;
  }

  .hero .call-to-action {
    position: relative;
    Z-index: 1;
    margin-top: calc(var(--margin) * -20);
    width: 70%;
    min-width: 29.0625rem;
    height: 22.8125rem;
    background-image: url("../assets/bg-hero-squiggle.svg");
    background-repeat: no-repeat;
    background-size: 85% 80%;
  }

  .hero .call-to-action-texts .call-to-action-texts-title {
    font-size: calc(var(--fontSize) * 2.13);
    line-height: calc(var(--padding) * 2.67);
    padding: 0 calc(var(--padding) * 5);
    width: 30.1875rem;
    margin: 0 auto;
  }
  
  .hero .call-to-action-texts .call-to-action-texts-description {
    padding: 0 calc(var(--padding) * 0.6);
    min-width: 28.5625rem;
    max-width: 33.375rem;
    margin: 0 auto;
    margin-top: calc(var(--margin) * 2);
  }
  
  .reasons {
    margin-top: calc(var(--margin) * 7.07);
    width: 35.8125rem;
    height: 38.375rem;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  .reasons .reason-item {
    height: 7.75rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .reasons .reason-item:nth-child(odd) {
    align-self: flex-end;
  }

  .reasons .reason-item:nth-child(even) {
    align-self: flex-start;
  }

  .reasons .reason-item .reason-item-image {
    width: 7.5rem;
    height: 7.6875rem;
    border-radius: calc(var(--borderRadius) * 2.5);
  }

  .reasons .reason-item .reason-item-image img {
    width: 4.125rem;
    height: 5rem;
  }

  .reasons .reason-item .reason-item-texts {
    width: 21.25rem;
    height: 5.375rem;
  }

  .reasons .reason-item .reason-item-texts .reason-item-texts-title,
  .reasons .reason-item .reason-item-texts .reason-item-texts-description {
    text-align: left;
  }

  .pricing-plans {
    margin-top: calc(var(--margin) * 9.8);
    width: 35.8125rem;
    height: 72.5rem;
    align-items: center;
  }

  .pricing-plans .pricing-plans-heading {
    height: 7.3125rem;
  }
  
  .pricing-plans .pricing-plans-items {
    width: 28.125rem;
    height: 60.125rem;
    flex-direction: column;
  }
  
  .pricing-plans .pricing-plans-heading p {
    width: 31.8125rem;
  }

  .subscription {
    margin-top: calc(var(--margin) * 7.87);
    width: 100%;
    height: 10rem;
    background-size: 100% 100%;
  }

  .subscription .subscription-wrap .subscription-title {
    font-size: calc(var(--fontSize) * 1.6);
    font-weight: var(--fontWeight8);
    width: 29.75rem;
  }

  .subscription .subscription-wrap .subscription-form form {
    width: 29.75rem;
    height: 5rem;
    flex-direction: row;
    align-items: flex-start;
  }

  .subscription .subscription-wrap .subscription-form form button {
    width: 8.75rem;
  }

  footer {
    margin-top: calc(var(--margin) * 7);
  }
}

/* Desktop */
@media (min-weight: 64rem) {
  header {
    height: 12.3125rem;
    justify-content: flex-start;
    padding-left: calc(var(--padding) * 3.07);
  }

  .hero {
    width: 100vw;
    height: 28.6875rem;
    margin-top: calc(var(--margin) * 2.13);
    overflow-y: hidden;
  }

  .hero .hero-images {
    margin-top: 0;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }

  .hero .hero-images .hero-left-image {
    transform: translateX(-10%);
  }

  .hero .hero-images .hero-right-image {
    transform: translateX(10%);
  }

  .hero .hero-images .hero-left-image img,
  .hero .hero-images .hero-right-image img {
    height: 28.6875rem;
  }

  .hero .call-to-action {
    position: relative;
    Z-index: 1;
    margin-top: calc(var(--margin) * -25);
    width: 50%;
    min-width: 29.0625rem;
    height: 22.8125rem;
    background-image: url("../assets/bg-hero-squiggle.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .hero .call-to-action .call-to-action-texts .call-to-action-texts-title {
    font-size: calc(var(--fontSize) * 3.2);
    line-height: calc(var(--padding) * 3.73);
    padding: 0 calc(var(--padding) * 6);
    width: 100%;
  }

  .hero .call-to-action .call-to-action-texts .call-to-action-texts-description {
    padding: 0 calc(var(--padding) * 7.5);
    min-width: 33.75rem;
    margin-top: calc(var(--margin) * 2);
  }

  .hero .call-to-action button {
    margin-top: calc(var(--margin) * 4.33);
  }

  .reasons {
    margin-top: calc(var(--margin) * 13.47);
    width: 69.375rem;
    height: 23.9375rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .reasons .reason-item {
    width: 15.9375rem;
    height: 22.1875rem;
    align-items: flex-start;
    justify-content: space-between;
  }

  .reasons .reason-item:nth-child(even) {
    align-self: flex-end;
  }
  
  .reasons .reason-item-image {
    width: 10rem;
    height: 10.25rem;
    border-radius: calc(var(--borderRadius) * 3);
  }

  .reasons .reason-item-image img {
    width: 5.5rem;
    height: 6.625rem;
  }

  .reasons .reason-item-texts {
    width: 15.625rem;
    height: 7.6875rem;
  }

  .reasons .reason-item-texts .reason-item-texts-title,
  .reasons .reason-item-texts .reason-item-texts-description {
    text-align: left;
  }

  .reasons .reason-item-texts .reason-item-texts-title {
    font-size: calc(var(--fontSize) * 1.2);
    font-weight: var(--fontWeight8);
  }

  .reasons .reason-item-texts .reason-item-texts-description {
    color: var(--gray);
    line-height: calc(var(--padding) * 1.66);
  }

  .pricing-plans {
    margin-top: calc(var(--margin) * 14);
    width: 57.5rem;
    height: 41.875rem;
    align-items: center;
  }

  .pricing-plans .pricing-plans-heading {
    height: 7.3125rem;
  }

  .pricing-plans .pricing-plans-heading h2 {
    font-size: calc(var(--fontSize) * 2.13);
  }

  .pricing-plans .pricing-plans-heading p {
    width: 31.8125rem;
  }

  .pricing-plans .pricing-plans-items {
    height: 30.125rem;
    fkex-direction: row;
    align-items: center;
  }

  .pricing-plans .pricing-plans-item:nth-child(odd),
  .pricing-plans .pricing-plans-item:nth-child(even) {
    width: 27.8125rem;
  }

  


}














